include ../partials/header.jade
.px-8.relative.top-7(class='md:px-28')
  .w-full.bg-gray-800.rounded-lg.mb-12
    .w-full.h-96
      img.inset-0.w-full.h-full.object-cover(src='../../images/foot.jpg' alt='')
    h1.text-white.text-2xl.my-8.px-3.font-bold(class='md:text-6xl sm:text-4xl') #{article.title}
    p.text-xs.mb-4.text-gray-500.px-3(class='sm:text-sm')
      | Publi&eacute; le #{article.createdAt}
    p.text-white.text-justify.pb-10.px-3 #{article.description}
script(src='../../public/src/blog.js')